<style>
  .search {
    padding: 24px 0px 12px 0px !important;
  }

  .btn-search {
    width:100% !important;
    font-weight:500 !important;
    color:#fff !important;
    background:#2196F3 !important;
    border-color:#2196F3 !important;
    font-size:14px !important;
    margin-bottom: 12px !important;
    border-radius: 3px !important;
  }

  .btn-search-action {
    width:100% !important;
    font-weight: 500 !important;
    color:#fff !important;
    background:#FFC107 !important;
    border-color:#FFC107 !important;
    font-size:14px !important;
    margin-bottom:12px !important;
    border-radius: 3px !important;
  }

  .btn-search-action:hover {
    color:#fff !important;
    background:#FFC107 !important;
    border-color:#FFC107 !important;
  }

  .btn-search:hover {
    color:#fff !important;
    background:#2196F3 !important;
    border-color:#2196F3 !important;
  }

  .input-search {
    font-size:14px !important;
    box-shadow:none !important;
    border:1px solid #f5f5f5 !important;
    padding: 10px 16px !important;
    font-weight: 500 !important;
    margin-bottom: 12px !important;
    border-radius: 3px !important;
  }

  h4 {
    margin: 0 0 10px !important;
    font-weight: 500 !important;
  }

  .thumbnail {
    margin-bottom: 0px !important;
    width:100% !important;
    border:none !important;
    padding:12px !important;
  }

  .label-exclusive {
    background:#FFC107 !important;
    border:1px solid #FFC107 !important;
    color:#424242 !important;
    font-size:14px !important;
    border-radius: 3px !important;
    font-weight: 500 !important;
  }

  .bold {
    font-weight: 500 !important;
  }

  .uppercase {
    text-transform: uppercase !important;
  }

  .btn-job-apply {
    font-size:14px !important;
    background:#009688 !important;
    color:#fff !important;
    border-color:#009688 !important;
    font-weight: 500 !important;
    border-radius: 3px !important;
  }

  .btn-job-apply:hover {
    background:#009688 !important;
    color:#fff !important;
    border-color:#009688 !important;
  }

  .btn-job-profile {
    font-weight: 500 !important;
    color:#424242 !important;
    background:#FFC107 !important;
    border-color:#FFC107 !important;
    font-size:14px !important;
    border-radius: 3px !important;
  }

  .btn-job-profile:hover {
    font-weight: 500 !important;
    color:#424242 !important;
    background:#FFC107 !important;
    border-color:#FFC107 !important;
  }

  .btn-job-show {
    font-weight:500 !important;
    color:#fff !important;
    background:#2196F3 !important;
    border-color:#2196F3 !important;
    font-size:14px !important;
    border-radius: 3px !important;
  }

  .btn-job-show:hover {
    color:#fff !important;
    background:#2196F3 !important;
    border-color:#2196F3 !important;
  }

  .banner {
    padding:12px 0px !important;
  }

</style>
<style>
  .input-lg {
    font-size:13px;
    box-shadow:none;
    border:1px solid #f5f5f5;
    border-radius: 3px;
  }
</style>
<%= render 'shared/header' %>
<page id="jobs_index">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <% @banners.each do |banner| %>
          <div class="banner">
            <%= link_to("http://#{banner.top_link}") do %>
              <%= image_tag banner.top, class:"thumbnail" %>
            <% end %>
            <%= link_to("http://#{banner.middle_link}") do %>
              <%= image_tag banner.middle, class:"thumbnail" %>
            <% end %>
            <%= link_to("http://#{banner.low_link}") do %>
              <%= image_tag banner.low, class:"thumbnail" %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <div class="search">
              <button class="btn btn-primary btn-lg btn-search" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Søk på listen blant ledige stillinger
              </button>
              <div class="collapse" id="collapseExample">
                <%= form_tag search_jobs_path, method: :get do |f| %>
                <div class="row">
                  <div class="col-md-6">
                    <%= text_field_tag :search, nil, placeholder:"Søkeord", class:"form-control input-search input-lg" %>
                  </div>
                  <div class="col-md-6">
                    <%= text_field_tag :location, nil, placeholder: "Sted", class:"form-control input-search input-lg" %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <%= select_tag :category, options_from_collection_for_select(Category.all, :id, :name), class:"form-control input-search input-lg" %>
                  </div>
                  <div class="col-md-6">
                    <%= select_tag :type, options_from_collection_for_select(Type.all, :id, :name), class:"form-control input-search input-lg" %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <%= submit_tag "Søk", class:"btn btn-primary btn-lg btn-search-action" %>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4 style="margin-bottom:0px !important;">Ledige Stillinger</h4>
          </div>
        </div>
        <% @jobs.each do |job| %>
          <% if job.published_at? %>
            <div class="row">
              <div class="col-md-12">
                <div class="job" style="padding:24px;border:2px solid #f5f5f5;margin-top:24px;border-radius: 3px;">
                  <div class="row">
                    <div class="col-md-3">
                      <%= image_tag job.employer.logo, class:"thumbnail" %>
                    </div>
                    <div class="col-md-9">
                      <% if job.exclusive %>
                        <p><span class="label label-default label-exclusive">Exclusive</span></p>
                      <% end %>
                      <p class="bold uppercase"><%= job.employer.name %> &middot; <span style="color:#656565 !important;"><%= job.location %> &middot; <%= job.category.name %> &middot; <%= job.type.name %></span></p>
                      <h4><%= job.title %></h4>
                      <% if job.exclusive %>
                        <p><div class="sharethis-inline-share-buttons"></div></p>
                        <button class="btn btn-primary btn-lg btn-job-apply" data-toggle="modal" data-target="#myModal">Søk nå</button> &nbsp; <%= link_to(job.employer) do %><button class="btn btn-primary btn-lg btn-job-profile">Visa Bedriftsprofil</button><% end %> &nbsp; <%= link_to(job) do %><button class="btn btn-primary btn-lg btn-job-show">Les mer</button><% end %>
                      <% else %>
                        <%= link_to(job) do %><button class="btn btn-primary btn-lg btn-job-show">Les mer</button><% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Søk nå till <%= job.title %></h4>
                  </div>
                  <div class="modal-body">
                    <% if job.apply_via_app %>
                      <%= render 'applies/new' %>
                    <% else %>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Navn</label>
                      <input type="password" class="form-control input-lg" id="exampleInputPassword1">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Email</label>
                      <input type="password" class="form-control input-lg" id="exampleInputPassword1">
                    </div>
                    <div class="form-group">
                      <%= link_to("http://#{job.apply_link}") do %>
                        <button class="btn btn-lg" style="width:100%;background:#FFC107;border-color:#FFC107;font-size:14px;font-weight:500;border-radius:3px;"> Fortsett til stillingen</button>
                      <% end %>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-2">
        <% @banners.each do |banner| %>
          <div class="banner">
            <%= link_to("http://#{banner.top_link}") do %>
              <%= image_tag banner.top, class:"thumbnail" %>
            <% end %>
            <%= link_to("http://#{banner.middle_link}") do %>
              <%= image_tag banner.middle, class:"thumbnail" %>
            <% end %>
            <%= link_to("http://#{banner.low_link}") do %>
              <%= image_tag banner.low, class:"thumbnail" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</page>
