<page id="jobs_index">
  <div class="container" style="margin-top:30px;">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb" style="margin-bottom:48px;">
          <li><a href="#">Hjem</a></li>
          <li class="active">Bedriftsprofiler</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="center bold uppercase">BEDRIFTSPROFILER</h2>
        <h5 class="center bold uppercase text-muted" style="margin-bottom:48px;">FÅ EN INBLICK INIFRÅN HOS DIN NYA ARBETSGIVARE</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <% @employers.each do |employer| %>
          <% if employer.profile %>
              <div class="col-md-4">
                <div class="employer-card" style="margin-bottom:36px;">
                  <%= image_tag employer.header, class:"thumnail", style:"width:100%;border-top-left-radius:0px;border-top-right-radius:0px;margin-bottom:15px;" %>
                  <%= image_tag employer.logo, class:"thumnail", style:"border-top-left-radius:3px;border-top-right-radius:3px;margin-bottom:15px;" %>
                  <h4 class="bold" style="margin-bottom:0px;"><%= employer.name %></h4>
                  <p class="text-small text-muted bold uppercase"><%= employer.jobs.count %> ledige stillinger</p>
                  <p class="text-muted justify" style="margin-bottom: 24px !important;margin-bottom:0px;"><%= employer.summary %></p>
                  <%= link_to "Visa Bedriftsprofil", employer, class:"btn btn-view-employer", style:"width:100%;background:#FFC107;color:#fff;font-weight:500;border-color:#FFC107;border-radius:0px;" %>
                </div>
              </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</page>
