<page id="employers_show">
  <div class="container" style="margin-top:30px;">
    <div class="row">
      <div class="col-md-0">
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <%= image_tag @employer.header, class:"thumbnail" %>
          </div>
        </div>
        <div class="row" style="margin-bottom:30px;">
          <div class="col-md-2 col-xs-6">
            <%= image_tag @employer.logo, class:"thumbnail", style:"margin-bottom:0px !important;" %>
          </div>
          <div class="col-md-10 col-xs-12">
            <h4 class="bold"><%= @employer.name %></h4>
            <p><%= @employer.summary %></p>
          </div>
        </div>
        <div class="row" style="margin-bottom:30px;">
          <div class="col-md-12">
            <ul class="nav nav-tabs nav-justified" role="tablist">
              <li role="presentation" class="active"><a class="bold uppercase" href="#home" aria-controls="home" role="tab" data-toggle="tab">Om arbeidsgiver</a></li>
              <li role="presentation"><a class="bold uppercase" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Vision</a></li>
              <li role="presentation"><a class="bold uppercase" href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Ledige Stillinger (<%= @employer.jobs.count %>)</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="home" style="padding:30px 0px;"><%= @employer.about.html_safe %></div>
              <div role="tabpanel" class="tab-pane" id="profile" style="padding:30px 0px;"><%= @employer.vision.html_safe %></div>
              <div role="tabpanel" class="tab-pane" id="messages" style="padding:30px 0px;">
                <% @employer.jobs.each do |job| %>
                  <%= link_to job do %>
                    <div class="row" style="margin-bottom:30px;">
                      <div class="col-md-2 col-xs-6">
                        <%= image_tag job.employer.logo, class:"thumbnail" %>
                      </div>
                      <div class="col-md-10 col-xs-12">
                        <% if job.exclusive %><p><span class="label label-default" style="background:#FFC107;color:#fff;font-weight:500;border-radius:0px;font-size:14px;">Exclusive</span></p><% end %>
                        <p class="bold uppercase text-muted no-margin-bottom"><span style="color:#424242 !important;"><%= job.employer.name %></span> &middot; <%= job.location %> &middot; <%= job.category.name %> &middot; <%= job.type.name %></p>
                        <h4 class="bold no-margin-bottom"><%= job.title %></h4>
                        <p><%= truncate(job.content, length: 150, :escape => false) %></p>
                        <%= link_to "Vise annonse", job, class:"btn btn-default", style:"background:#FAFAFA;border-color:#EEEEEE;color:#424242;border-radius:0px;" %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
          </div>
        </div>
      </div>
      <div class="col-md-0">
      </div>
    </div>
  </div>
</page>
